@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/*______________________Reset______________________*/
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --bk_color_1: white;
    --bk_color_2: pink;
    --bk_color_3: rgb(238, 77, 104);
    --bk_color_4: rgb(190, 21, 49);
    --bk_color_5: rgb(81, 11, 11);
    --bk_color_6: black;

    --font_1: Balsamiq Sans;
    --font_2: Caprasimo;
    --font_3: DM Sans;
    --font_4: "Open Sans";
    --font_5: Roboto;
    --font_6: Poppins;
    --font_7: Oswald;

    --general_color_1: black;
    --general_color_2: white;
    --general_color_3: rgb(190, 21, 49);
    --general_color_4: rgb(81, 11, 11);
    --general_color_7: #82C7FF;
    --general_color_8: #223382;
    --general_color_9: #2b4c5d;
    --general_color_10: #0f1a20;
}

/*______________________BODY______________________*/
body {
    text-align: center;
    animation-name: infinite;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-color: var(--general_color_9);
}

/*@keyframes infinite {
    0%   {background-color: black;}
    5%   {background-color: pink;}
    25%  {background-color: rgb(238, 77, 104);}
    50%  {background-color: rgb(190, 21, 49);}
    100% {background-color: rgb(81, 11, 11)}
}*/


/*______________________HEADER______________________*/
nav {float: right; 
    padding: 10px; 
    background-color: var(--general_color_10);
    margin: auto;
    height: 65px;
    width: 40%;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}

a {color: var(--general_color_2); text-decoration: none; font-weight: 700;}

a:hover {cursor: pointer; color: var(--general_color_9);}

ul {list-style: none;}

li {
    display: inline-block;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-size: 1.4rem;
    font-family: var(--font_4);
}

header {
    position: fixed;
    width: 100%;
    height: 76px;
    top: 0;
    left: 0;
}

#hamb-button {display: none;}


/*______________________MAIN______________________*/

.introduction {
    display: inline-block;
    justify-content: center;
    align-content: center;
    height: 85vh; /*ocupa altura total da tela */
}

#my-name {
    font-size: 7rem;
    color: var(--general_color_10);
    font-family: var(--font_7);
}

#change-name {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: var(--bk_color_1);
    font-family: var(--font_3);
}

.slide-up {
    transform: translateY(-30px);
    opacity: 0;
}

.slide-down {
    transform: translateY(0);
    opacity: 1;
}

/*______________________FOOTER______________________*/
footer {
    background-color: var(--general_color_10);
    padding: 0;
    margin: auto;
    height: 103px;
}
.social-container {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
}

.social-icons {
    padding: 10px;
    list-style: none;
    margin: auto;
}

.social-icons li {
    display: inline-block;
    margin: auto;
    position: relative;
    font-size: 1.4em;
}

.social-icons a {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--general_color_2);
    transition: transform 0.3s ease;
}

.social-icons a i {
    color: var(--general_color_10);
    font-size: 24px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
    background: var(--general_color_9);
}

.social-icons a:hover i {
    color: var(--general_color_2);
    transform: scale(1.2);
}

